# Find null values in dataframe

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('datasets/jobs_in_data.csv')
df.head()

,Work Year,Job title,Job Category,salary_currency,salary,salary_in_usd,employee_residence,experience_level,employment_type,work_setting,company_location,company_size
0,2023,Data DevOps Engineer,Data Engineering,EUR,88000,95012,Germany,Mid-level,Full-time,Hybrid,Germany,L
1,2023,Data Architect,Data Architecture and Modeling,USD,186000,186000,United States,Senior,Full-time,In-person,United States,M
2,2023,Data Architect,Data Architecture and Modeling,USD,81800,81800,United States,Senior,Full-time,In-person,United States,M
3,2023,Data Scientist,Data Science and Research,USD,212000,212000,United States,Senior,Full-time,In-person,United States,M
4,2023,Data Scientist,Data Science and Research,USD,93300,93300,United States,Senior,Full-time,In-person,United States,M

### Detect null values in DF

In [7]:
null_values = df.isnull()

In [10]:
numll_count_per_column = df.isnull().sum()

In [13]:
total_null_count = df.isnull().sum().sum()